.container-two {
  background-color: var(--bg-lilac);

  .about-me-section {
    display: flex;
    align-items: center;
    padding: 200px 90px 150px 90px;
    width: 100%;
    justify-content: space-between;

    .about-me-text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      z-index: 3;

      h2 {
        font-size: 72px;
        font-weight: normal;
      }

      .about-me-paragraph {
        font-size: 20px;
      }
    }

    img {
      height: fit-content;
      width: 500px;
    }
  }
  .portfolio-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    gap: 60px;
    margin-top: -395px;
    padding-bottom: 480px;

    .bg {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: fit-content;
    }
    
    h2 {
      font-size: 72px;
      font-weight: normal;
      padding: 230px 90px 0 90px;
      z-index: 3;
      width: 100%;
      text-align: right;
    }

    .projects {
      display: flex;
      flex-direction: column;
      gap: 90px;
      padding: 0 90px 0 90px;
      z-index: 3;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .project {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          font-size: 23px;

          .mockup {
            transition: all ease 0.2s;
            cursor: pointer;

            &:hover {
              transform: rotate(-8deg);
            }
          }
        }
      }
    }
    .carousel-box {
      z-index: 4;

      .project-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 23px;

        .mockup-mob {
          height: fit-content;
          width: 260px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .about-me-section {
      flex-direction: column;
      padding: 0 40px 410px 40px;

      .about-me-text {
        text-align: center;
        order: 2;

        h2 {
          font-size: 50px;
          margin-top: -40px;
          background: url(../../assets/bubble-bg-about.svg) no-repeat center;
          border-radius: 50px;
        }

        .about-me-paragraph {
          font-size: 16px;
        }        
      }
      img {
        width: 315px;
      }
    }
    .portfolio-section {
      gap: 60px;
      margin-top: -420px;
      padding-bottom: 230px;
      
      h2 {
        font-size: 50px;
        text-align: center;
        padding: 110px 40px 0 40px;
      }
    }
  }
}
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  z-index: 4;

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    transition: all ease 0.2s;
  
      &:hover {
        transform: scale(0.9);
      }
  }

  .project1 {
    height: fit-content;
    width: 55%;
  }

  .content-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 15px;

    .title-modal {
      font-size: 43px;
      color: #EF9EA4;
      font-weight: 400;
    }

    .description {
      font-size: 16px;
      font-weight: 400;
    }

    .buttons-modal-box {
      display: flex;
      align-items: center;
      gap: 30px;

      .button-modal {
        height: 43px;
        width: 125px;
        border-radius: 32px;
        background: #87979F;
        border: none;
        outline: none;
        margin-top: 25px;

        transition: all ease 0.2s;
  
          &:hover {
            transform: scale(0.9);
          }

        a {
          text-decoration: none;
          color: var(--bg-pink);
          font-family: 'Nunito', sans-serif;
          font-size: 20px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .project1 {
      width: 100%;
    }

    .content-modal {
      align-items: center;
      text-align: center;
      width: 100%;

      .description {
        font-size: 20px;
      }

      .buttons-modal-box {
        gap: 10px;

        .button-modal {
          width: 118px;
          height: 40px;

          a {
            font-size: 18px;
          }
        }
      }
      
    }
  }
}