.container-three {
  background: linear-gradient(180deg, var(--bg-lilac) 0%, var(--bg-pink) 100%);
  display: flex;
  width: 100%;
  padding: 0 90px 60px 90px;
  align-items: center;
  justify-content: space-between;
  margin-top: -120px;
  gap: 50px;

  .section-three-content {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 72px;
      font-weight: normal;
    }

    p {
      font-size: 22px;
      margin-bottom: 35px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;

      .input {
        height: 58px;
        width: 487px;
        border-radius: 12px;
        background-color: #EBE6E6;
        font-family: 'Nunito', sans-serif;
        color: #7E7F82;
        box-shadow: 0px 4px 4px 0px #00000024;
        border: none;
        outline: none;
        font-size: 20px;
        font-weight: bold;
        padding-left: 20px;
      }

      textarea {
        height: 140px;
        width: 487px;
        border-radius: 12px;
        background-color: #EBE6E6;
        font-family: 'Nunito', sans-serif;
        color: #7E7F82;
        box-shadow: 0px 4px 4px 0px #00000024;
        border: none;
        outline: none;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0 0 20px;
      }

      .medias-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        button {
          height: 60px;
          width: 240px;
          border-radius: 29px;
          background: #87979F;
          color: var(--bg-pink);
          box-shadow: 0px 4px 4px 0px #00000024;
          cursor: pointer;
          border: none;
          outline: none;
          font-family: 'Nunito', sans-serif;
          font-size: 23px;
          
          transition: all ease 0.2s;
  
          &:hover {
            transform: scale(0.9);
          }
        }

        .medias {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 45%;

          a {
            transition: all ease 0.2s;

            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }    
    .message-sent {
      h3 {
        font-size: 40px;
        width: max-content;
      }
      .medias-button-two {
        display: flex;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        justify-content: space-between;
  
        button {
          height: 60px;
          width: 240px;
          border-radius: 29px;
          background: #87979F;
          color: var(--bg-pink);
          box-shadow: 0px 4px 4px 0px #00000024;
          cursor: pointer;
          border: none;
          outline: none;
          font-family: 'Nunito', sans-serif;
          font-size: 23px;
          
          transition: all ease 0.2s;
  
          &:hover {
            transform: scale(0.9);
          }
        }
        .medias-two {
          display: flex;
          align-items: center;
          gap: 35px;

          .linkedin-icon-two {
            margin-right: 20px;
          }
        }
      }
    }    
  } 
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 40px 0 40px;
    justify-content: center;

    .section-three-content {
      width: 100%;
      align-items: center;
      text-align: center;
      order: 2;
      margin-top: 30px;

      h2 {
        font-size: 50px;
      }

      form {
        width: 100%;

        .input {
          width: 100%;
        }

        textarea {
          width: 100%;
        }
        .medias-button {
          flex-direction: column;
          gap: 50px;
          
          .medias {
            display: flex;
            align-items: center;
            gap: 30px;
          }
        }
      }
      .message-sent {
        padding-bottom: 30px;

        .medias-button-two {
          flex-direction: column;
          gap: 50px;

          .medias-two {
            display: flex;
            align-items: center;
            gap: 30px;
          }
        }
      }
    }
    .react-floater-animated {
      img {
        width: 100%;
        height: fit-content;
        margin-top: 30px;
      }      
    }
  }
}