.container-one {
  background: linear-gradient(180deg, var(--bg-pink) 0%, var(--bg-lilac) 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .monitor-mob {
    width: 370px;
    height: fit-content;
    margin-top: 40px;
  }
  @media (max-width: 768px) {
    padding: 30px;
    overflow: hidden;
  }
}